In [1]:
import numpy as np
import pandas as pd

In [27]:
root = "../data/"
dat = pd.read_csv(root + "SADCQ.csv").sort_values("year")
datN = pd.read_csv(root + "SADCQN.csv").sort_values("year")
dat_MS = pd.read_csv(root + "SADCQ_MS.csv").sort_values("year")
#datN_MS = pd.read_csv(root + "SADCQN_MS.csv").sort_values("year")
stateCounty = pd.read_csv(root + "state_county.csv").set_index("State")

In [28]:
dat.columns.to_numpy()

array(['sitecode', 'sitename', 'sitetype', 'sitetypenum', 'year',
       'survyear', 'weight', 'stratum', 'PSU', 'record', 'age', 'sex',
       'grade', 'race4', 'race7', 'stheight', 'stweight', 'bmi', 'bmipct',
       'qnobese', 'qnowt', 'q66', 'q65', 'sexid', 'sexid2', 'sexpart',
       'sexpart2', 'q8', 'q9', 'q10', 'q11', 'q12', 'q13', 'q14', 'q15',
       'q16', 'q17', 'q18', 'q19', 'q20', 'q21', 'q22', 'q23', 'q24',
       'q25', 'q26', 'q27', 'q28', 'q29', 'q30', 'q31', 'q32', 'q33',
       'q34', 'q35', 'q36', 'q37', 'q38', 'q39', 'q40', 'q41', 'q42',
       'q43', 'q44', 'q45', 'q46', 'q47', 'q48', 'q49', 'q50', 'q51',
       'q52', 'q53', 'q54', 'q55', 'q56', 'q57', 'q58', 'q59', 'q60',
       'q61', 'q62', 'q63', 'q64', 'q67', 'q68', 'q69', 'q70', 'q71',
       'q72', 'q73', 'q74', 'q75', 'q76', 'q77', 'q78', 'q79', 'q80',
       'q81', 'q82', 'q83', 'q84', 'q85', 'q86', 'q87', 'q88', 'q89',
       'qbikehelmet', 'qdrivemarijuana', 'qcelldriving',
       'qpropertydamage', 'qbullyweight', 'qbullygender', 'qbullygay',
       'qchokeself', 'qcigschool', 'qchewtobschool', 'qalcoholschool',
       'qtypealcohol2', 'qhowmarijuana', 'qmarijuanaschool',
       'qcurrentopioid', 'qcurrentcocaine', 'qcurrentheroin',
       'qcurrentmeth', 'qhallucdrug', 'qprescription30d', 'qgenderexp',
       'qtaughtHIV', 'qtaughtsexed', 'qtaughtstd', 'qtaughtcondom',
       'qtaughtbc', 'qdietpop', 'qcoffeetea', 'qsportsdrink',
       'qenergydrink', 'qsugardrink', 'qwater', 'qfastfood',
       'qfoodallergy', 'qwenthungry', 'qmusclestrength', 'qsunscreenuse',
       'qindoortanning', 'qsunburn', 'qconcentrating', 'qcurrentasthma',
       'qwheresleep', 'qspeakenglish', 'qtransgender'], dtype=object)

In [29]:
datN.columns.to_numpy()

array(['sitecode', 'sitename', 'sitetype', 'sitetypenum', 'year',
       'survyear', 'weight', 'stratum', 'PSU', 'record', 'age', 'sex',
       'grade', 'race4', 'race7', 'stheight', 'stweight', 'bmi', 'bmipct',
       'qnobese', 'qnowt', 'q66', 'q65', 'sexid', 'sexid2', 'sexpart',
       'sexpart2', 'qn8', 'qn9', 'qn10', 'qn11', 'qn12', 'qn13', 'qn14',
       'qn15', 'qn16', 'qn17', 'qn18', 'qn19', 'qn20', 'qn21', 'qn22',
       'qn23', 'qn24', 'qn25', 'qn26', 'qn27', 'qn28', 'qn29', 'qn30',
       'qn31', 'qn32', 'qn33', 'qn34', 'qn35', 'qn36', 'qn37', 'qn38',
       'qn39', 'qn40', 'qn41', 'qn42', 'qn43', 'qn44', 'qn45', 'qn46',
       'qn47', 'qn48', 'qn49', 'qn50', 'qn51', 'qn52', 'qn53', 'qn54',
       'qn55', 'qn56', 'qn57', 'qn58', 'qn59', 'qn60', 'qn61', 'qn62',
       'qn63', 'qn64', 'qn67', 'qn68', 'qn69', 'qn70', 'qn71', 'qn72',
       'qn73', 'qn74', 'qn75', 'qn76', 'qn77', 'qn78', 'qn79', 'qn80',
       'qn81', 'qn82', 'qn83', 'qn84', 'qn85', 'qn86', 'qn87', 'qn88',
       'qn89', 'qnfrcig', 'qndaycig', 'qnfrevp', 'qndayevp', 'qnfrcgr',
       'qndaycgr', 'qntb2', 'qntb3', 'qntb4', 'qntb5', 'qniudimp',
       'qnothhpl', 'qndualbc', 'qnbcnone', 'qnfr0', 'qnfr1', 'qnfr2',
       'qnveg0', 'qnveg1', 'qnveg2', 'qnveg3', 'qnsoda1', 'qnsoda2',
       'qnmilk1', 'qnmilk3', 'qnbk7day', 'qnpa0day', 'qnpa7day',
       'qndlype', 'qnnodnt', 'qnbikehelmet', 'qndrivemarijuana',
       'qncelldriving', 'qnpropertydamage', 'qnbullyweight',
       'qnbullygender', 'qnbullygay', 'qnchokeself', 'qncigschool',
       'qnchewtobschool', 'qnalcoholschool', 'qntypealcohol2',
       'qnhowmarijuana', 'qnmarijuanaschool', 'qncurrentopioid',
       'qncurrentcocaine', 'qncurrentheroin', 'qncurrentmeth',
       'qnhallucdrug', 'qnprescription30d', 'qnillict', 'qngenderexp',
       'qntaughtHIV', 'qntaughtsexed', 'qntaughtstd', 'qntaughtcondom',
       'qntaughtbc', 'qndietpop', 'qncoffeetea', 'qnsportsdrink',
       'qnspdrk1', 'qnspdrk2', 'qnenergydrink', 'qnsugardrink', 'qnwater',
       'qnwater1', 'qnwater2', 'qnwater3', 'qnfastfood', 'qnfoodallergy',
       'qnwenthungry', 'qnmusclestrength', 'qnsunscreenuse',
       'qnindoortanning', 'qnsunburn', 'qnconcentrating',
       'qncurrentasthma', 'qnwheresleep', 'qnspeakenglish',
       'qntransgender'], dtype=object)

In [30]:
stateCounty

             County
State
 Alabama   Autauga
 Alabama   Baldwin
 Alabama   Barbour
 Alabama      Bibb
 Alabama    Blount
...             ...
 Wyoming     Teton
 Wyoming     Uinta
 Wyoming  Washakie
 Wyoming    Weston
NaN             NaN

[3143 rows x 1 columns]

In [31]:
dat["sitename"].nunique()

36

In [32]:
dat["sitename"].unique()

array(['Philadelphia, PA (PH)', 'Miami-Dade County, FL (MM)',
       'Broward County, FL (FT)', 'San Diego, CA (SA)', 'Dallas, TX (DA)',
       'Chicago, IL (CH)', 'Seattle, WA (SE)', 'New Orleans, LA (NO)',
       'New York City, NY (NYC)', 'San Francisco, CA (SF)',
       'Los Angeles, CA (LO)', 'Palm Beach County, FL (PB)',
       'Orange County, FL (OL)', 'San Bernardino, CA (SB)',
       'Borough of Manhattan, NY (NYI)', 'Borough of Brooklyn, NY (NYH)',
       'Borough of Queens, NY (NYJ)',
       'Borough of Staten Island, NY (NYK)', 'Borough of Bronx, NY (NYG)',
       'Hillsborough County, FL (HL)', 'Milwaukee, WI (ML)',
       'Charlotte-Mecklenburg County, NC (CM)', 'Duval County, FL (DU)',
       'Clark County, NV (CC)', 'Oakland, CA (OA)', 'Fort Worth, TX (FW)',
       'Cleveland, OH (CE)', 'Shelby County, TN (ST)',
       'Spartanburg County, SC (SP)', 'Pasco County, FL (PS)',
       'Portland, OR (PO)', 'Gaston County, NC (GS)',
       'Eaton Consortium, MI (EA)', 'Albuquerque, NM (AB)',
       'Genesee Consortium, MI (GE)', 'Newark, NJ (NW)'], dtype=object)

In [33]:
dat_MS["sitename"].unique()

array(['Chicago, IL (CH)', 'Houston, TX (HO)', 'San Diego, CA (SA)',
       'San Francisco, CA (SF)', 'Dallas, TX (DA)',
       'San Bernardino, CA (SB)', 'Milwaukee, WI (ML)',
       'Charlotte-Mecklenburg County, NC (CM)', 'Duval County, FL (DU)',
       'Orange County, FL (OL)', 'Los Angeles, CA (LO)',
       'Broward County, FL (FT)', 'Shelby County, TN (ST)',
       'Gaston County, NC (GS)', 'Albuquerque, NM (AB)'], dtype=object)

In [34]:
def countColsWMissingVals(x):
    numColWNA = 0
    for col in x.columns:
        if pd.isna(x[col]).sum() / x[col].shape[0] > .5:
            numColWNA += 1
    
    return numColWNA

numColsMissingO_50p = pd.DataFrame(dat.groupby(["year", "sitename"]).apply(countColsWMissingVals))
numColsMissingO_50p_MS = pd.DataFrame(dat_MS.groupby(["year", "sitename"]).apply(countColsWMissingVals))

In [35]:
perYearMissOver50 = numColsMissingO_50p.reset_index().pivot(index="year", columns="sitename", values = 0)
perYearMissOver50_MS = numColsMissingO_50p_MS.reset_index().pivot(index="year", columns="sitename", values = 0)

In [36]:
perYearMissOver50

sitename,"Albuquerque, NM (AB)","Borough of Bronx, NY (NYG)","Borough of Brooklyn, NY (NYH)","Borough of Manhattan, NY (NYI)","Borough of Queens, NY (NYJ)","Borough of Staten Island, NY (NYK)","Broward County, FL (FT)","Charlotte-Mecklenburg County, NC (CM)","Chicago, IL (CH)","Clark County, NV (CC)",...,"Palm Beach County, FL (PB)","Pasco County, FL (PS)","Philadelphia, PA (PH)","Portland, OR (PO)","San Bernardino, CA (SB)","San Diego, CA (SA)","San Francisco, CA (SF)","Seattle, WA (SE)","Shelby County, TN (ST)","Spartanburg County, SC (SP)"
year,,,,,,,,,,,,,,,,,,,,,
1991,NaN,NaN,NaN,NaN,NaN,NaN,104.0,NaN,104.0,NaN,...,NaN,NaN,104.0,NaN,NaN,104.0,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,95.0,NaN,105.0,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,92.0,NaN,...,NaN,NaN,92.0,NaN,NaN,92.0,NaN,106.0,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,92.0,NaN,...,NaN,NaN,92.0,NaN,NaN,92.0,93.0,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN,75.0,NaN,...,75.0,NaN,72.0,NaN,NaN,72.0,NaN,89.0,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,72.0,NaN,...,72.0,NaN,69.0,NaN,68.0,67.0,76.0,NaN,NaN,NaN
2003,NaN,70.0,70.0,70.0,70.0,70.0,70.0,NaN,64.0,NaN,...,70.0,NaN,67.0,NaN,70.0,67.0,NaN,NaN,NaN,NaN
2005,NaN,66.0,66.0,66.0,66.0,66.0,71.0,80.0,65.0,NaN,...,71.0,NaN,NaN,NaN,71.0,67.0,78.0,NaN,NaN,NaN
2007,NaN,68.0,68.0,68.0,68.0,68.0,66.0,77.0,60.0,NaN,...,66.0,NaN,69.0,NaN,66.0,65.0,70.0,NaN,NaN,NaN
2009,NaN,73.0,73.0,73.0,73.0,73.0,66.0,75.0,60.0,72.0,...,66.0,NaN,65.0,NaN,66.0,66.0,62.0,67.0,NaN,NaN
2011,NaN,77.0,77.0,77.0,77.0,77.0,66.0,70.0,59.0,NaN,...,66.0,NaN,65.0,NaN,66.0,59.0,62.0,67.0,NaN,NaN
2013,NaN,72.0,72.0,72.0,72.0,72.0,55.0,61.0,55.0,NaN,...,55.0,NaN,61.0,NaN,64.0,56.0,61.0,67.0,NaN,NaN
2015,NaN,72.0,72.0,72.0,72.0,72.0,49.0,NaN,NaN,NaN,...,52.0,NaN,52.0,NaN,NaN,54.0,61.0,NaN,NaN,NaN
2017,NaN,69.0,69.0,69.0,69.0,69.0,39.0,NaN,43.0,NaN,...,43.0,NaN,41.0,NaN,NaN,49.0,58.0,NaN,43.0,NaN
2019,50.0,70.0,70.0,70.0,70.0,70.0,38.0,NaN,42.0,NaN,...,42.0,43.0,39.0,42.0,NaN,49.0,59.0,56.0,42.0,72.0

In [37]:
# districts that have every year
perYearMissOver50.dropna(axis=1, thresh = 12).columns

Index(['Broward County, FL (FT)', 'Chicago, IL (CH)',
       'Miami-Dade County, FL (MM)', 'New York City, NY (NYC)',
       'Philadelphia, PA (PH)', 'San Diego, CA (SA)'],
      dtype='object', name='sitename')

In [38]:
perYearMissOver50_MS.dropna(axis=1).columns

Index([], dtype='object', name='sitename')

In [40]:
perYearMissOver50.loc[2001:, ].dropna(axis=1).columns

Index(['Broward County, FL (FT)', 'Los Angeles, CA (LO)',
       'New York City, NY (NYC)', 'Orange County, FL (OL)',
       'Palm Beach County, FL (PB)', 'San Diego, CA (SA)'],
      dtype='object', name='sitename')

In [50]:
perYearMissOver50.loc[2003:, ].dropna(axis=1, thresh = 8).columns

Index(['Borough of Bronx, NY (NYG)', 'Borough of Brooklyn, NY (NYH)',
       'Borough of Manhattan, NY (NYI)', 'Borough of Queens, NY (NYJ)',
       'Borough of Staten Island, NY (NYK)', 'Broward County, FL (FT)',
       'Chicago, IL (CH)', 'Los Angeles, CA (LO)',
       'Miami-Dade County, FL (MM)', 'New York City, NY (NYC)',
       'Orange County, FL (OL)', 'Palm Beach County, FL (PB)',
       'Philadelphia, PA (PH)', 'San Diego, CA (SA)',
       'San Francisco, CA (SF)'],
      dtype='object', name='sitename')

In [17]:
perYearMissOver50_MS.loc[2011:, ].dropna(axis=1).columns

Index(['Duval County, FL (DU)', 'Houston, TX (HO)', 'Los Angeles, CA (LO)',
       'Orange County, FL (OL)', 'San Francisco, CA (SF)'],
      dtype='object', name='sitename')

In [18]:
perYearMissOver50.loc[2011:, ].dropna(axis=1, thresh = 4).columns

Index(['Borough of Bronx, NY (NYG)', 'Borough of Brooklyn, NY (NYH)',
       'Borough of Manhattan, NY (NYI)', 'Borough of Queens, NY (NYJ)',
       'Borough of Staten Island, NY (NYK)', 'Broward County, FL (FT)',
       'Chicago, IL (CH)', 'Duval County, FL (DU)', 'Los Angeles, CA (LO)',
       'Miami-Dade County, FL (MM)', 'New York City, NY (NYC)',
       'Orange County, FL (OL)', 'Palm Beach County, FL (PB)',
       'Philadelphia, PA (PH)', 'San Diego, CA (SA)',
       'San Francisco, CA (SF)'],
      dtype='object', name='sitename')

In [19]:
perYearMissOver50.loc[2015:, ].dropna(axis=1).columns

Index(['Borough of Bronx, NY (NYG)', 'Borough of Brooklyn, NY (NYH)',
       'Borough of Manhattan, NY (NYI)', 'Borough of Queens, NY (NYJ)',
       'Borough of Staten Island, NY (NYK)', 'Broward County, FL (FT)',
       'Cleveland, OH (CE)', 'Duval County, FL (DU)', 'Fort Worth, TX (FW)',
       'Los Angeles, CA (LO)', 'New York City, NY (NYC)', 'Oakland, CA (OA)',
       'Orange County, FL (OL)', 'Palm Beach County, FL (PB)',
       'Philadelphia, PA (PH)', 'San Diego, CA (SA)',
       'San Francisco, CA (SF)'],
      dtype='object', name='sitename')

In [20]:
stateCounty.loc[[" New York", " Florida", " California"],]

                   County
State
 New York         Albany
 New York       Allegany
 New York          Bronx
 New York         Broome
 New York    Cattaraugus
...                   ...
 California       Tulare
 California     Tuolumne
 California      Ventura
 California         Yolo
 California         Yuba

[187 rows x 1 columns]

In [21]:
stateCounty.loc[[" New York"],]["County"].unique()

array(['Albany ', 'Allegany ', 'Bronx ', 'Broome ', 'Cattaraugus ',
       'Cayuga ', 'Chautauqua ', 'Chemung ', 'Chenango ', 'Clinton ',
       'Columbia ', 'Cortland ', 'Delaware ', 'Dutchess ', 'Erie ',
       'Essex ', 'Franklin ', 'Fulton ', 'Genesee ', 'Greene ',
       'Hamilton ', 'Herkimer ', 'Jefferson ', 'Kings ', 'Lewis ',
       'Livingston ', 'Madison ', 'Monroe ', 'Montgomery ', 'Nassau ',
       'New York ', 'Niagara ', 'Oneida ', 'Onondaga ', 'Ontario ',
       'Orange ', 'Orleans ', 'Oswego ', 'Otsego ', 'Putnam ', 'Queens ',
       'Rensselaer ', 'Richmond ', 'Rockland ', 'St. Lawrence ',
       'Saratoga ', 'Schenectady ', 'Schoharie ', 'Schuyler ', 'Seneca ',
       'Steuben ', 'Suffolk ', 'Sullivan ', 'Tioga ', 'Tompkins ',
       'Ulster ', 'Warren ', 'Washington ', 'Wayne ', 'Westchester ',
       'Wyoming ', 'Yates '], dtype=object)

In [22]:
stateCounty[stateCounty["County"].isin(["Bronx ", "Queens ", "Staten Island "])]

            County
State
 New York   Bronx
 New York  Queens

In [23]:
stateCounty.reset_index()["State"].unique()

array([' Alabama', ' Alaska', ' Arizona', ' Arkansas', ' California',
       ' Colorado', ' Connecticut', ' Delaware', ' District of Columbia',
       ' Florida', ' Georgia', ' Hawaii', ' Idaho', ' Illinois',
       ' Indiana', ' Iowa', ' Kansas', ' Kentucky', ' Louisiana',
       ' Maine', ' Maryland', ' Massachusetts', ' Michigan', ' Minnesota',
       ' Mississippi', ' Missouri', ' Montana', ' Nebraska', ' Nevada',
       ' New Hampshire', ' New Jersey', ' New Mexico', ' New York',
       ' North Carolina', ' North Dakota', ' Ohio', ' Oklahoma',
       ' Oregon', ' Pennsylvania', ' Rhode Island', ' South Carolina',
       ' South Dakota', ' Tennessee', ' Texas', ' Utah', ' Vermont',
       ' Virginia', ' Washington', ' West Virginia', ' Wisconsin',
       ' Wyoming', nan], dtype=object)

In [24]:
questionsOnly = dat.iloc[:, [1, 4] + list(range(27, 107))]
questionsOnly[questionsOnly["year"].isin([1991])]

,sitename,year,q8,q9,q10,q11,q12,q13,q14,q15,...,q80,q81,q82,q83,q84,q85,q86,q87,q88,q89
8376,"Philadelphia, PA (PH)",1991,4.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,"Miami-Dade County, FL (MM)",1991,2.0,1.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,"Miami-Dade County, FL (MM)",1991,2.0,3.0,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,"Miami-Dade County, FL (MM)",1991,3.0,4.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,"Miami-Dade County, FL (MM)",1991,5.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,"Dallas, TX (DA)",1991,2.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3500,"Dallas, TX (DA)",1991,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,"Dallas, TX (DA)",1991,3.0,3.0,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3488,"Dallas, TX (DA)",1991,5.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3501,"Dallas, TX (DA)",1991,4.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
dat

,sitecode,sitename,sitetype,sitetypenum,year,survyear,weight,stratum,PSU,record,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
8376,PH,"Philadelphia, PA (PH)",District,1,1991,1,57.3812,5,1,123676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,MM,"Miami-Dade County, FL (MM)",District,1,1991,1,21.9402,1,4,815850,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,MM,"Miami-Dade County, FL (MM)",District,1,1991,1,20.9035,1,5,815851,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,MM,"Miami-Dade County, FL (MM)",District,1,1991,1,21.2169,1,2,815852,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,MM,"Miami-Dade County, FL (MM)",District,1,1991,1,25.1542,1,6,815853,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466405,LO,"Los Angeles, CA (LO)",District,1,2019,15,100.7940,12,1,1009418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
466406,LO,"Los Angeles, CA (LO)",District,1,2019,15,100.7940,12,1,1009419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
466407,LO,"Los Angeles, CA (LO)",District,1,2019,15,100.7940,12,1,1009420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
466396,LO,"Los Angeles, CA (LO)",District,1,2019,15,55.9038,3,2,780559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
504248,ST,"Shelby County, TN (ST)",District,1,2019,15,12.9218,16,1,2226525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dat[dat['year'] == 2019].set_index('sitecode').dropna(axis=1, thresh=50000).columns

Index(['sitename', 'sitetype', 'sitetypenum', 'year', 'survyear', 'weight',
       'stratum', 'PSU', 'record', 'age', 'sex', 'grade', 'race4', 'race7',
       'bmi', 'q66', 'sexid', 'sexid2', 'q15', 'q16', 'q17', 'q20', 'q22',
       'q23', 'q24', 'q25', 'q26', 'q32', 'q34', 'q41', 'q46', 'q47', 'q50',
       'q52', 'q70', 'q78'],
      dtype='object')

In [27]:
dat[dat['year'] == 2019]['sitename'].value_counts()

New York City, NY (NYC)               9534
Duval County, FL (DU)                 4032
Albuquerque, NM (AB)                  3216
Palm Beach County, FL (PB)            2652
Borough of Bronx, NY (NYG)            2363
Borough of Brooklyn, NY (NYH)         2289
San Francisco, CA (SF)                2169
Fort Worth, TX (FW)                   1992
Borough of Manhattan, NY (NYI)        1924
Portland, OR (PO)                     1837
Chicago, IL (CH)                      1562
Hillsborough County, FL (HL)          1552
Borough of Queens, NY (NYJ)           1510
Pasco County, FL (PS)                 1498
Borough of Staten Island, NY (NYK)    1448
Orange County, FL (OL)                1429
Shelby County, TN (ST)                1410
Los Angeles, CA (LO)                  1405
San Diego, CA (SA)                    1388
Gaston County, NC (GS)                1339
Seattle, WA (SE)                      1296
Cleveland, OH (CE)                    1241
Philadelphia, PA (PH)                 1217
Broward County, FL (FT)               1178
Newark, NJ (NW)                       1171
Genesee Consortium, MI (GE)           1077
Eaton Consortium, MI (EA)             1058
Oakland, CA (OA)                      1013
Spartanburg County, SC (SP)            970
Name: sitename, dtype: int64

In [5]:
dat["sitecode"].unique()

array(['PH', 'MM', 'FT', 'SA', 'DA', 'CH', 'SE', 'NO', 'NYC', 'SF', 'LO',
       'PB', 'OL', 'SB', 'NYI', 'NYH', 'NYJ', 'NYK', 'NYG', 'HL', 'ML',
       'CM', 'DU', 'CC', 'OA', 'FW', 'CE', 'ST', 'SP', 'PS', 'PO', 'GS',
       'EA', 'AB', 'GE', 'NW'], dtype=object)

In [10]:
boroughsDat = dat[dat["sitecode"].isin(['NYI', 'NYH', 'NYJ', 'NYK', 'NYG'])]
boroughsDat["sitename"].unique()

array(['Borough of Manhattan, NY (NYI)', 'Borough of Brooklyn, NY (NYH)',
       'Borough of Queens, NY (NYJ)',
       'Borough of Staten Island, NY (NYK)', 'Borough of Bronx, NY (NYG)'],
      dtype=object)

In [16]:
boroughsDat.groupby('year')["sitename"].nunique()

year
2003    5
2005    5
2007    5
2009    5
2011    5
2013    5
2015    5
2017    5
2019    5
Name: sitename, dtype: int64