# Spline Model on Split by Sex Data

In [1]:
library("tidyverse")
library("dplyr")
library("mgcv")
library("mgcViz")

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   2.0.1     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Loading required package: nlme


Attaching package: 'nlme'


The following object is masked from 'package:dplyr':

    collapse


This is mgcv 1.8-38. For overview type 'help("mgcv-package")'.

Warning message:
"package 'mgcViz' was built under R version 4.1.2"
Loading required package: qgam

Warning message:
"package 'qgam' was built under R version 4.1.2"
Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

Registered S3 method overwritten by 'mgcViz':
  method from
  +.gg   GGally


Attaching package: 'mgcViz'


The following objects are masked from 'package:stats':

    qqline, qqnorm, qqplot

In [5]:
dat = read_delim('violenceKNNResp_wSex_NotSplitImp.csv', delim = ",")
knn_dat = read_delim('violenceKNN.csv', delim = ",") %>% select(-c(violenceScore))
split_dat = right_join(dat, knn_dat, by = c("year", "sitename")) %>% 
    mutate(violenceScore = `violence score`) %>% 
    select(-c(4,5))

Rows: 262 Columns: 4

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): sitename
dbl (3): year, sex, violence score


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

New names:
* `` -> ...1

Rows: 122 Columns: 10

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): sitename
dbl (9): ...1, year, violenceScore, AllAgesInPovertyPercent, UnderAge18InPov...


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [9]:
head(split_dat)

  year sitename                       sex AllAgesInPovertyPercent
1 2003 Borough of Bronx, NY (NYG)     1   26.9
2 2003 Borough of Bronx, NY (NYG)     2   26.9
3 2003 Borough of Brooklyn, NY (NYH)  1   23.4
4 2003 Borough of Brooklyn, NY (NYH)  2   23.4
5 2003 Borough of Manhattan, NY (NYI) 1   18.7
6 2003 Borough of Manhattan, NY (NYI) 2   18.7
  UnderAge18InPovertyPercent MedianHouseholdIncomeInDollars UnemploymentRate
1 37.4                       27855                          9.9
2 37.4                       27855                          9.9
3 33.3                       30672                          8.1
4 33.3                       30672                          8.1
5 30.9                       43930                          6.6
6 30.9                       43930                          6.6
  Population SNAP  violenceScore
1 1362373    97.29 36.33420
2 1362373    97.29 64.92268
3 2472999    97.29 26.94144
4 2472999    97.29 69.22551
5 1562154    97.29 26.21359
6 1562154    97.29 57.53186

## Fitting with spline

In [16]:
both_smooth = gam(violenceScore ~ 
              s(SNAP, by = sex, bs = "cr", k = 5) + 
              s(UnemploymentRate, by = sex, bs = "cr", k = 5) + 
              s(as.factor(split_dat$sitename), bs = "re"), data = split_dat)
both_AIC = AIC(both_smooth)

UnemployRate_smooth = gam(violenceScore ~ SNAP +
              s(UnemploymentRate, by = sex, bs = "cr", k = 5) + 
              s(as.factor(split_dat$sitename), bs = "re"), data = split_dat)
UnemployRate_AIC = AIC(UnemployRate_smooth)

SNAP_smooth = gam(violenceScore ~ 
              s(SNAP, by = sex, bs = "cr", k = 5) + 
              UnemploymentRate + s(as.factor(split_dat$sitename), bs = "re"), data = split_dat)
SNAP_AIC = AIC(SNAP_smooth)

neither_smooth = gam(violenceScore ~ SNAP + UnemploymentRate +
              s(as.factor(split_dat$sitename), bs = "re"), data = split_dat)
neither_AIC = AIC(neither_smooth)

AIC_mat = matrix(c(both_AIC, SNAP_AIC, UnemployRate_AIC, neither_AIC), nrow = 4)

rowNames = c("Both Smooth AIC", "SNAP Smooth AIC", "Unemployment Rate Smooth AIC", "Neither Smooth AIC")
row.names(AIC_mat) = rowNames

AIC_mat

                             [,1]
Both Smooth AIC              1565.375
SNAP Smooth AIC              1636.591
Unemployment Rate Smooth AIC 1582.434
Neither Smooth AIC           2015.223

### Calculating MSE

In [42]:
# Both fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ s(SNAP, by = sex, bs = "cr", k = k) + 
                                  s(UnemploymentRate, by = sex, bs = "cr", k = k) + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])
          
    
  }#for
  
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

both_MSE = CrossValMSE(k = 5, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)

$mse
[1] 117.1162

$mse_male
[1] 166.868

$mse_female
[1] 67.36445

In [23]:
# UnemploymentRate fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ SNAP + 
                                  s(UnemploymentRate, by = sex, bs = "cr", k = k) + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])
          
    
  }#for
  
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

UnemployRate_MSE = CrossValMSE(k = 5, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)

In [24]:
# SNAP fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ s(SNAP, by = sex, bs = "cr", k = k) + 
                                  UnemploymentRate + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])
          
    
  }#for
  
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

SNAP_MSE = CrossValMSE(k = 5, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)

In [25]:
# Neither fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ SNAP + UnemploymentRate + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])
          
    
  }#for
  
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

neither_MSE = CrossValMSE(k = 5, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)

In [34]:
MSE_mat = matrix(c(both_MSE, SNAP_MSE, UnemployRate_MSE, neither_MSE), nrow = 4, ncol = 3, byrow = TRUE)

rowNames = c("Both Smooth MSE", "SNAP Smooth MSE", "Unemployment Rate Smooth MSE", "Neither Smooth MSE")
rownames(MSE_mat) = rowNames

colNames = c("Total", "Male", "Female")
colnames(MSE_mat) = colNames

MSE_mat

                             Total    Male     Female
Both Smooth MSE              45.45004 58.7142  32.18588
SNAP Smooth MSE              45.92002 59.3765  32.46353
Unemployment Rate Smooth MSE 57.79627 73.01279 42.57976
Neither Smooth MSE           221.7447 236.421  207.0683

## Find Best Number of Knots

### Same Number of Knots for Both SNAP and UnemploymentRate

In [50]:
# Both fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ s(SNAP, by = sex, bs = "cr", k = k) + 
                                  s(UnemploymentRate, by = sex, bs = "cr", k = k) + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])

  }#for
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

MSE = data.frame(matrix(0, nrow = 25, ncol = 3))
names = c("Total MSE", "Male MSE", "Female MSE")
rows = c(1:25)
colnames(MSE) = names
rownames(MSE) = rows


for (i in (1:25)) {
    MSE[i,] = CrossValMSE(k = i, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)
}

In [55]:
which.min(MSE[,1])
which.min(MSE[,2])
which.min(MSE[,3])

MSE[which.min(MSE[,1]),]

MSE

[1] 17

[1] 17

[1] 17

   Total MSE Male MSE Female MSE
17 37.91952  47.41375 28.42528

   Total MSE Male MSE  Female MSE
1   50.88666  65.71165 36.06167
2   50.88666  65.71165 36.06167
3   50.88666  65.71165 36.06167
4   45.52147  58.67890 32.36404
5   45.45004  58.71420 32.18588
6   42.37099  54.16952 30.57247
7   42.34733  53.86236 30.83231
8   42.49501  54.30429 30.68574
9   42.51254  53.95032 31.07475
10  42.33791  53.40913 31.26668
11  42.76767  54.04137 31.49397
12  41.91206  52.95762 30.86651
13  44.66108  56.32438 32.99777
14  42.77429  54.12311 31.42547
15  39.36373  48.56806 30.15940
16  46.83967  58.93351 34.74584
17  37.91952  47.41375 28.42528
18  39.57919  48.98885 30.16953
19  43.97221  55.54824 32.39617
20  38.26774  47.58775 28.94772
21  49.35199  63.01507 35.68890
22  44.28357  55.16159 33.40554
23  44.69573  58.34774 31.04373
24  75.02614 101.10199 48.95030
25 117.11622 166.86799 67.36445

### Different Number of Knots for SNAP and UnemploymentRate

In [74]:
# Both fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, m, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ s(SNAP, by = sex, bs = "cr", k = k) + 
                                  s(UnemploymentRate, by = sex, bs = "cr", k = m) + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])

  }#for
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

MSE = data.frame(matrix(0, nrow = 400, ncol = 3))
names = c("Total MSE", "Male MSE", "Female MSE")
rows = c(1:400)
colnames(MSE) = names
rownames(MSE) = rows


for (i in (4:23)) {
    for (j in 4:23)
        MSE[(j-3) + (20*(i-4)),] = CrossValMSE(k = i, m = j, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)
}

In [77]:
which.min(MSE[,1])
which.min(MSE[,2])
which.min(MSE[,3])

MSE[which.min(MSE[,1]), ]

# SNAP(k = 17), UnemploymentRate(k = 6)

[1] 263

[1] 321

[1] 263

    Total MSE Male MSE Female MSE
263 36.68794  45.73309 27.64278

    Total MSE Male MSE Female MSE
1   45.52147  58.67890 32.36404
2   45.33508  58.28624 32.38393
3   45.84442  59.28460 32.40425
4   45.77858  59.00807 32.54910
5   45.73707  58.96248 32.51165
6   45.80145  59.04297 32.55994
7   45.74495  58.96406 32.52584
8   45.67712  58.85649 32.49775
9   45.68025  58.86176 32.49875
10  45.68962  58.88243 32.49681
11  45.68248  58.87181 32.49314
12  45.66237  58.83470 32.49005
13  45.66562  58.83938 32.49186
14  46.18867  59.69155 32.68580
15  46.19164  59.69987 32.68341
16  46.29147  59.90797 32.67498
17  46.73913  60.50278 32.97548
18  46.74088  60.61711 32.86466
19  46.57832  60.29122 32.86543
20  46.77673  60.60082 32.95265
21  45.62424  59.13044 32.11805
22  45.45004  58.71420 32.18588
23  45.89100  59.57088 32.21112
24  45.80935  59.29861 32.32008
25  45.76429  59.24231 32.28627
26  45.83068  59.33235 32.32901
27  45.77117  59.24506 32.29728
28  45.70798  59.14691 32.26904
29  45.70926  59.14526 32.27325
30  45.71996  59.16716 32.27277
... ...       ...      ...
371 43.91929  54.46327 33.37531
372 44.07832  54.74079 33.41584
373 44.03117  54.65749 33.40486
374 43.99107  54.58994 33.39220
375 44.05462  54.73356 33.37567
376 44.21786  55.01945 33.41627
377 44.19654  54.96912 33.42396
378 43.91679  54.51953 33.31405
379 44.28357  55.16159 33.40554
380 44.02353  54.73142 33.31563
381 42.75897  54.77848 30.73945
382 43.35081  55.83331 30.86831
383 43.70358  56.86827 30.53889
384 43.85958  56.96235 30.75681
385 44.12094  57.34638 30.89550
386 43.88700  56.90018 30.87382
387 44.25093  57.50434 30.99752
388 44.08620  57.24577 30.92663
389 44.41548  57.76215 31.06881
390 44.36089  57.67221 31.04957
391 44.53794  57.93395 31.14192
392 44.56630  58.01088 31.12173
393 44.15677  57.34725 30.96628
394 44.29758  57.60919 30.98598
395 44.67612  58.24747 31.10478
396 44.52616  57.99541 31.05692
397 44.82300  58.49644 31.14956
398 44.86115  58.52468 31.19762
399 44.68994  58.30333 31.07655
400 44.69573  58.34774 31.04373

In [84]:
# Both fit with smoothing spline
library("gtools")
options(warn = -1)

CrossValMSE = function(k, m, modelGroup, nLeftOut, dat, mseSplitOn) {
  
  # Make all combinations for pairs of county
  leftOutCols = combinations(length(t(unique(dat[modelGroup]))), nLeftOut, v = t(unique(dat[modelGroup])))
  
  msesSplit = rep(0,dim(leftOutCols)[1])
  msesSplit_male = rep(0,dim(leftOutCols)[1])
  msesSplit_female = rep(0,dim(leftOutCols)[1])
  
  for (lo in 1:dim(leftOutCols)[1]) {
    # Create training and testing set
    # Training set includes all but two counties
    dat_keep = dat %>% filter(sitename != leftOutCols[lo,1] & sitename != leftOutCols[lo,2])
    dat_keep$sitename = as.factor(dat_keep$sitename)
    
    dat_remove = dat %>% filter(sitename == leftOutCols[lo,1] | sitename == leftOutCols[lo,2])
    dat_remove$sitename = as.factor(dat_remove$sitename)
    
    # Fit the spline model
    gam_mod = gam(violenceScore ~ s(SNAP, by = sex, bs = "cr", k = k) + 
                                  s(UnemploymentRate, by = sex, bs = "cr", k = m) + 
                                  s(sitename, bs = "re"), data = dat_keep)

    pred = predict(gam_mod, dat_remove, exclude = "s(sitename)")
    
    # Calculate the total mse
    msesSplit[lo] = sum((dat_remove$violenceScore - pred)^2) / length(pred)
    
    male_index = which(dat_remove$sex == 2)
    female_index = which(dat_remove$sex == 1)
    
    # Calculate the mse for male and for female
    msesSplit_male[lo] = sum((dat_remove[male_index, "violenceScore"] - pred[male_index])^2) / length(pred[male_index])
    msesSplit_female[lo] = sum((dat_remove[female_index, "violenceScore"] - pred[female_index])^2) / length(pred[female_index])

  }#for
  
  return(list(mse = mean(msesSplit), mse_male = mean(msesSplit_male), mse_female = mean(msesSplit_female)))
  
}#function

MSE_best = CrossValMSE(k = 17, m = 6, modelGroup = 2, nLeftOut = 2, dat = split_dat, mseSplitOn = 3)
MSE_best

$mse
[1] 36.68794

$mse_male
[1] 45.73309

$mse_female
[1] 27.64278